.cat-picture
{
    width: 350px;
    opacity: .9;
}

.cat-picture:hover
{
    opacity: 1;
}

.name
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 350px;
    font-size: 30px;
    width: fit-content;
}

.name:hover
{
    color: #700;
}

.cat-article:hover
{
    background-color: rgba(139, 69, 19, .1);
}

.picture,
.information,
.small-description,
.description
{
    padding: 10px;
}

.list:not(:checked) ~ .cat-article
{
    display: inline-block;
}

.cat-article
{
    vertical-align: top;
}

.list:checked ~ .cat-article
{
    display: block;
    width: fit-content;
}

.list:checked ~ .cat-article .information
{
    width: 350px;
}

.cat-article .description
{
    width: 350px;
}

.list:not(:checked) ~ .cat-article .description
{
    display: none;
}

.list:checked ~ .cat-article .small-description
{
    display: none;
}

.description:before
{
    content: 'Полное описание:';
}

.small-description:before
{
    content: 'Краткое описание:';
}

.description,
.small-description
{
    font-weight: bold;
    font-size: 20px;
}

.description-text,
.small-description-text
{
    font-weight: normal;
    font-size: 17px;
}
